<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" href="../static/css/Global.css">
    <link rel="stylesheet" href="../static/css/Delivery.css">
</head>
<body>

<!--Navbar-->
<div class="navbar">
    <div>
        <a href="Index.html">Home</a>
        <a href="Product.html">Product</a>
        <a href="Delivery.html">Delivery</a>
        <a href="Van.html">Van</a>
    </div>
</div>

<!--Title-->
<div class="title-div">
    <h1 class="page-title" id="page-title">Delivery</h1>
</div>

<!--Section 'Create product'-->
<div class="section">
    <h2 class="title" id="create-delivery-title">• Create New Delivery</h2>
</div>

<!--Input fields-->
<div class="section" id="create-delivery-div">
    <div class="create-delivery-inputs-div" id="create-delivery-inputs-div">

        <label>
            Delivery Date:
            <input placeholder="Year" type="number" id="delivery-date-year-input">
            <input placeholder="Month" type="number" id="delivery-date-month-input">
            <input placeholder="Day" type="number" id="delivery-date-day-input">
        </label>


        <label>
            Sort by
            <select id="warehouse-drop-down">
                <option value="" disabled selected hidden> Choose Warehouse</option>
            </select>
        </label>

        <label>
            Destination:
            <input placeholder="Name, Street, Zip" type="text" id="destination-input">
        </label>

        <label>
            Van
            <select id="van-drop-down">
                <option value="" disabled selected hidden> Choose Van</option>
            </select>
        </label>


        <!--Table-->
        <div id="create-delivery-table-div">
            <table>
                <thead>
                <tr>
                    <th id="product-table-header">Product</th>
                    <th id="quantity-table-header">Quantity</th>
                </tr>
                </thead>
                <tbody id="product-table-body">
                </tbody>
            </table>

            <table>
                <thead>
                <tr>
                    <th id="price-table-header">Current Price</th>
                    <th id="weight-table-header">Current weight</th>
                </tr>
                </thead>
                <tbody id="price-weight-table-body">
                </tbody>
            </table>
        </div>
    <div id="create-delivery-button-div">
        <button id="create-delivery-button">Create New Delivery</button>
    </div>
    </div>
    <button id="add-product-quantity-button">Add Product</button>
</div>

<!--Section 'List Orders'-->
<div class="section">
    <h2 class="title" id="display-order-title">• Orders List</h2>
</div>

<div class="section" id="orders-drop-down-div">
    <label>
        Sort by
        <select id="orders-drop-down">
            <option value="" disabled selected hidden> Choose Warehouse</option>
        </select>
    </label>

    <button id="sort-by-warehouse-drop-down-button">Sort</button>
</div>

<!--Table-->
<div id="display-orders-div">
    <div id="table-div">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Warehouse</th>
                <th>Destination</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Total Weight</th>
            </tr>
            </thead>
            <tbody id="orders-table-body">
            </tbody>
        </table>
    </div>
</div>

<script src="../static/js/CreateDelivery.js"></script>
<script src="../static/js/ListOrders.js"></script>
</body>
</html>