<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link rel="stylesheet" href="../static/css/Global.css">
    <link rel="stylesheet" href="../static/css/Delivery.css">
</head>
<body>


<!--Navbar-->
<div class="navbar">
    <div>
        <a href="Index.html">Home</a>
        <a href="Product.html">Product</a>
        <a href="Delivery.html">Delivery</a>
    </div>
</div>


<!--Title-->
<div class="title-div">
    <h1 class="page-title" id="page-title">Delivery</h1>
</div>

<!--Section 'Create product'-->
<div class="section">
    <h2 class="title" id="create-delivery-title">• Create Delivery</h2>
</div>

<!--Input fields-->
<div class="section" id="create-delivery-div">
    <div class="create-delivery-inputs-div">

        <label>
            Delivery Date:
            <input placeholder="Year" type="number" id="delivery-date-year-input">
            <input placeholder="Month" type="number" id="delivery-date-month-input">
            <input placeholder="Day" type="number" id="delivery-date-day-input">
        </label>

        <label>
            Warehouse:
            <input placeholder="e.g. W1" type="Text" id="warehouse-input">
        </label>

        <label>
            Destination:
            <input placeholder="Name, Street, Zip" type="text" id="destination-input">
        </label>

        <button id="create-delivery-button">Create Delivery</button>
    </div>
</div>


<!--Section 'List Products'-->
<div class="section">
    <h2 class="title" id="display-deliveries-title">• Products List</h2>
</div>

<div class="section">
    <label>
        Sort by
        <select id="drop-down">
            <option value="" disabled selected hidden> Choose Delivery</option>
        </select>
    </label>

    <button id="sort-by-drop-down-button">Sort</button>
</div>

<!--Table-->
<div id="display-deliveries-div">
    <div id="table-div">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Warehouse</th>
                <th>Destination</th>
            </tr>
            </thead>
            <tbody id="delivery-table-body">
            </tbody>
        </table>
    </div>
</div>


<h1>//New section where you choose the product and the quantity and attach it to an existing delivery.
    Maybe Create a table where you can add rows and each row is a product and the column are Product(dropdown),
    quantity(dropdown, Delivery(dropdown), price (realTime), weight (realTime)</h1>
<h1>//Ypu can see in real time the price and weight changing based on the quantity and the product selected</h1>

<script src="../static/js/CreateDelivery.js"></script>
<script src="../static/js/ListDeliveries.js"></script>
</body>
</html>