<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="../static/css/Global.css">
    <link rel="stylesheet" href="../static/css/Product.css">
</head>
<body>

<!--Navbar-->
<div class="navbar">
    <div>
        <a href="Index.html">Home</a>
        <a href="Product.html">Product</a>
    </div>
</div>

<!--Title-->
<div class="title-div">
    <h1 class="page-title" id="page-title">Product</h1>
</div>

<!--Section 'Create product'-->
<div class="section">
    <h2 class="title" id="create-product-title">• Create Product</h2>
</div>

<!--Input fields-->
<div class="section" id="create-product-div">
    <div class="create-product-inputs-div">

        <label>
            Name:
            <input type="text" id="name-input">
        </label>

        <label>
            Price:
            <input type="number" id="price-input">
        </label>

        <label>
            Weight:
            <input type="number" id="weight-input">
        </label>

        <button id="create-product-button">Create Product</button>
    </div>
</div>

<!--Section 'List Products'-->
<div class="section">
    <h2 class="title" id="display-products-title">• Products List</h2>
</div>

<!--Table-->
<div id="display-products-div">
    <div id="table-div">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Weight</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>

<script src="../static/js/CreateProduct.js"></script>
<script src="../static/js/ListProducts.js"></script>
</body>
</html>