<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Van</title>
    <link rel="stylesheet" href="../static/css/Global.css">
    <link rel="stylesheet" href="../static/css/Van.css">
</head>
<body>

<!--Navbar-->
<div class="navbar">
  <div>
    <a href="Index.html">Home</a>
    <a href="Product.html">Product</a>
    <a href="Delivery.html">Delivery</a>
    <a href="Van.html">Van</a>
  </div>
</div>

<!--Title-->
<div class="title-div">
  <h1 class="page-title">Van</h1>
</div>


<!--Section 'List Products'-->
<div class="section">
    <h2 class="title" id="display-van-title">• Van List</h2>
</div>

<div class="section">
    <label>
        Sort by
        <select id="van-drop-down">
            <option value="" disabled selected hidden> Choose Van</option>
        </select>
    </label>

    <button id="sort-by-drop-down-button">Sort</button>
</div>

<!--Table-->
<div id="display-van-div">
    <div id="table-div">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Warehouse</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>

<script src="../static/js/"></script>

</body>
</html>